<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<section class="section-tours">
  <div class=" text-center  u-margin-bottom-medium">
    <br> <br>
    <h2 class="heading-secondary">
      Votes
    </h2>
    <br> <br>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
             
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1">Matricule</span>

          </h4>
          <div class="card__details">
              <ul>
                  <li>Matricule</li>
                  <li>Nom</li>
    
                  
                </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
                <a href="" class="btn btn--green btn-success">+</a>
                <br />
                <a href="" class="btn btn--red btn-danger">-</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--2">
             
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2">Matricule</span>

          </h4>
          <div class="card__details">
              <ul>
                  <li>Matricule</li>
                  <li>Nom</li>
    
                  
                </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            <div class="card__price-box">
                <a href="" class="btn btn--green btn-success">+</a>
                <a href="" class="btn btn--red btn-danger">-</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--3">
             
          </div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--3">Matricule</span>

          </h4>
          <div class="card__details">
            <ul>
              <li>Matricule</li>
              <li>Nom</li>

              
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <div class="card__price-box">
                <a href="" class="btn btn--green btn-success">+</a>
                <a href="" class="btn btn--red btn-danger">-</a>

              
             

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>